{% extends "teams/base.html" %}

{% block page_header %}
<h1>{{event_title}}</h1>
{% endblock %}

{% block content %}

{% if episodes|length > 0 %}
{% if position %}
<div id="event-complete" class="event-completed-{{ position }}"><p>Your team came {{ position }}!</p></div>

{% endif %}
<div class="col-md-6">
<ul id="ep-list" class="nav nav-tabs">
{% for episode in episodes %}
<li><a class="episode-link nav-link" href="#episode-{{ episode.index }}" data-url="{% url 'episode_content' episode_number=episode.index %}" data-toggle="tab">{{ episode.name }}</a></li>
{% endfor %}
</ul>
</div>
<div class="tab-content">
{% for episode in episodes %}
<div class="tab-pane" id="episode-{{ episode.index }}"></div>
{% endfor %}
</div>
{% else %}
<p>No episodes are available.<p> 
{% endif %}
<script>
$(function() {
	"use strict";
	$('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
		var url = $(this).data('url');
		var target = $(this).attr('href');
		var tab = $(this);
		$(target).load(url, function(result) {
			tab.tab('show');
			window.location.hash = target.substr(1);
		});
	});
	var hash = window.location.hash ? window.location.hash : '#episode-1';
	$(`#ep-list a[href="${hash}"`).tab('show');
});
</script>
{% endblock %}
