{% load admin_urls %}
{% load urls %}
<div id="guesses-container">
	<table id="guesses-table">
	<tr class="guess-viewer-header">
		<th>Episode</th>
		<th>Puzzle</th>
		<th>User &amp; Team</th>
		<th>Seat</th>
		<th>Guess</th>
		<th>Time given</th>
		<th>Time on puzzle</th>
	</tr>
	{% for guess in guesses %}
	<tr class="guess-viewer-guess{% if guess.get_correct_for %} correct{% elif guess.unlocked %} unlocked{% endif %}">
		<td><a href="?episode={{ guess.episode.id }}">{{ guess.episode.name }}</a></td>
		<td>
			<a href="?puzzle={{ guess.for_puzzle.id }}">{{ guess.for_puzzle.title }}</a>
			<span class="shortcuts">
				(<a href="{% url 'admin:hunts_puzzle_change' guess.for_puzzle.id %}">E</a>
				<a href="{{ guess.for_puzzle.get_absolute_url }}">V</a>)
			</span>
		</td>
		<td>
			<span class="user">
				{% if not guess.by_team.is_explicit %}<a href="?team={{ guess.by_team.id }}">{{ guess.by.username }}</span></a>
				{% else %}{{ guess.by.username }}{% endif %}
			{% if guess.by_team.is_explicit %} <span class="team">(<a href="?team={{ guess.by_team.id }}">{{ guess.by_team.name }}</a>)</span>{% endif %}
		</td>
		<td>{{ guess.byseat }}</td>
		<td class="guess">
			{{ guess.guess }}
			<span class="shortcuts">
				(<a href="{% url 'admin:hunts_answer_add' %}?for_puzzle={{ guess.for_puzzle.id }}&answer={{ guess.guess|urlencode }}">A</a>
				<a href="{% url 'admin:hunts_unlock_add' %}?puzzle={{ guess.for_puzzle.id }}&new_guess={{ guess.guess|urlencode }}">U</a>)
			</span>
		</td>
		<td>{{ guess.given }}</td>
		<td>{{ guess.time_on_puzzle }}</td>
	</tr>
	{% endfor %}
	</table>

	<div class="pagination">
		<span class="step-links">
		{% if guesses.has_previous %}
			<a href="{% add_params current_url page=guesses.previous_page_number %}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ guesses.number }} of {{ guesses.paginator.num_pages }}.
		</span>

		{% if guesses.has_next %}
			<a href="{% add_params current_url page=guesses.next_page_number %}">next</a>
		{% endif %}
		</span>
	</div>
</div>

