{% extends "teams/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'hunts/css/hunts.css' %}" />
{% endblock %}
{% block script %} 
<script src="{% static 'hunts/js/hunts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.0/d3.js"> <!--integrity="sha256-r7j1FXNTvPzHR41+V71Jvej6fIq4v4Kzu5ee7J/RitM=" crossorigin="anonymous">--></script>
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
{% if flavour %}
<!-- This is just flavour text - not related to the puzzle! -->
<div class="puzzle-flavour"><span class="flavour-intro">Story: </span>{{ flavour | safe }}</div>
<hr class="flavour-clue-divider">
{% endif %}
<!-- CLUE STARTS HERE -->
{% comment %}Render puzzle text including HTML elements{% endcomment %}
{{ text | safe }}
<!-- CLUE ENDS HERE -->
<hr />
<h3>Hints</h3>
<div id="hints">
{% for hint in hints %}
<p>{{hint.time}}: {{hint.text}}</p>
{% endfor %}
</div>
<h3>Unlocks</h3>
<div id="unlocks">
{% for unlock in unlocks %}
<p>{% for guess in unlock.guesses %}{{guess}}{% if not forloop.last %}, {% endif %}{% endfor %}: {{unlock.text}}</p>
{% endfor %}
</div>
<hr />
{% if answered %}
<h2>Your correct answer{{ answered|pluralize }}</h2>
<div id="answer">
{% for guess in answered %}
<p>"{{ guess.guess }}" &mdash; entered by {{ guess.by.username }}</p>
{% endfor %}
</div>
{% elif ended %}
<h2>Event is over</h2>
{% else %}
<form class="form-inline" action="an" method="POST">
	{% csrf_token %}
	<span id="answer-border">
	<input name="answer" id="answer-entry" class="form-control"></input>
	</span>
	<button type="submit" id="answer-button" class="btn btn-default" disabled="disabled">Guess!</button>
</form>
{% endif %}
{% if ended or admin %}
<button id="soln-button" class="btn btn-primary" data-toggle="collapse" data-target="#soln-content" data-url="{% url 'solution_content' episode_number=episode_number puzzle_number=puzzle_number %}">Show Solution</button>
<div id="soln-content" class="collapse">
	<div id="soln-text" class="card card-body">
	</div>
</div>
<script>
$(function() {
	"use strict";
	var content = $('#soln-content');
	var button = $('#soln-button');

	content.on('show.bs.collapse', function() {
		var url = button.data('url');
		$('#soln-text').load(url);
		$(this).unbind('show.bs.collapse');
	});
	content.on('shown.bs.collapse', function() {
		button.text('Hide Solution');
	});
	content.on('hidden.bs.collapse', function() {
		button.text('Show Solution');
	});
});
</script>
{% endif %}

<h3>Guesses <button id="guesses-button" class="btn" data-toggle="collapse" data-target="#guesses-container" >Show</button></h3>
<div id="guesses-container">
	<table id="guesses">
		<tr class="guess-viewer-header">
			<th>User</th>
			<th>Guess</th>
			<th>Correct?</th>
		</tr>
	</table>
</div>
{% endblock %}
