{% extends "events/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'hunts/css/stats.css' %}" type="text/css" />
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.0/d3.min.js" integrity="sha256-r7j1FXNTvPzHR41+V71Jvej6fIq4v4Kzu5ee7J/RitM=" crossorigin="anonymous"></script>
{% endblock %}

{% block page_header %}
<h1>Stats</h1>
{% endblock %}

{% block content %}
<p><input type="checkbox" checked="checked" id="auto-update"> <label for="auto-update">Update automatically</label></p>
<p><label for="episode">Episode</label>
	<select id="episode">
		<option value="all">[all]</option>
	</select>
<p><label for="type">Graph type</label>
	<select id="type">
		<option value="percent-complete">Percentage completion</option>
		<option value="puzzle-difficulty">Average time to completion</option>
		<option value="time-completed">Progress (scatter)</option>
		<option value="progress">Progress (line)</option>
		<option value="team-total-stuckness">Time stuck (per team)</option>
		<option value="team-puzzle-stuckness">Time stuck (per team and puzzle)</option>
		<option value="puzzle-stuckness">Average time stuck (per puzzle)</option>
	</select>
</p>
<div id="chart-container">
	<svg class="chart" id="episode-stats" width="800" height="800"></svg>
	<ol id="legend"></ol>
</div>
<script src="{% static 'hunts/js/stats.js' %}"></script>
{% endblock %}


