{% extends "base.html" %}

{% block style %}{% spaceless %}
{% if event.theme.style %}
<style>{{ event.theme.style }}</style>
{% else %}
{{ block.super }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block script %}{% spaceless %}
{% if event.theme.script %}
<script>{{ event.theme.script }}</script>
{% else %}
{{ block.super }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block topbar_left %}
	<li class="nav-item"><a class="navbar-brand" href="{% url 'index' %}">{{ event.name }}</a></li>
	<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
	<li class="nav-item"><a class="nav-link" href="{% url 'rules' %}">Rules</a></li>
	<li class="nav-item"><a class="nav-link" href="{% url 'help' %}">Help</a></li>
{% endblock %}

{% block announcements %}
			{% for announcement in announcements %}
			<div class="alert {{ announcement.css_type }}" role="alert">
				<strong>{{ announcement.title }}</strong> {{ announcement.message }}
			</div>
			{% endfor %}
{% endblock %}
