{% extends "teams/base.html" %}

{% block content %}
<h1>Account</h1>
<h2>Update your details</h2>
{% spaceless %}
<form action="" method="post">
	{% csrf_token %}
	{{ user_form.as_p }}
	{{ profile_formset.as_p }}
	<h3>Details for {{ request.tenant }}</h3>
	{{ attendance_formset.as_p }}
	<button type="submit">Update</button>
</form>
{% endspaceless %}
<h2>Steam Account</h2>
{% if steam_account %}
<p>Your account is linked to the following Steam account</p>
<a href="{{ steam_account }}">{{ steam_account }}</a>
{% else %}
<p>Link your Steam account using the link below</p>
{% include "socialaccount/snippets/provider_list.html" with process="connect" %}
{% endif %}
{% if request.user.has_usable_password %}
<h2>Change your password</h2>
{% spaceless %}
<form action="{% url 'account_change_password' %}" method="post">
	{% csrf_token %}
	{{ password_form.as_p }}
	<button type="submit">Change password</button>
</form>
{% endspaceless %}
{% else %}
<h2>Set a password</h2>
{% spaceless %}
<form action="{% url 'account_set_password' %}?next={{ request.get_full_path | urlencode }}" method="post">
	{% csrf_token %}
	{{ password_form.as_p }}
	<button type="submit">Set password</button>
</form>
{% endspaceless %}
{% endif %}
{% endblock %}
