{% extends 'teams/base.html' %}
{% load static %}

{% block script %}
<script src="{% static 'teams/js/team.js' %}" defer></script>
{% endblock %}

{% block content %}
<h1>{{ team }}</h1>
<h2>Members</h2>
<ul id="member-list" style="width: 40%">
{% for u in members %}
<li>{{ u.username }}<span style="float: right">&nbsp;{{ u.seat }}</span></li>
{% endfor %}
</ul>
{% endblock %}
