html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 4em;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	font-size: smaller;
}

ul.errorlist {
	margin: 0 0 4px;
	padding: 0;
	color: #ba2121;
	background: #fff;
}

ul.errorlist li {
	font-size: 13px;
	display: block;
	margin-bottom: 4px;
}

ul.errorlist li:first-child {
	margin-top: 0;
}

ul.errorlist li a {
	color: inherit;
	text-decoration: underline;
}

a.episode-link {
	font-size: x-large;
}

div.puzzle-list {
	align-content: center;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
}

div.puzzle-box {
	display: flex;
	height: 15em;
	flex: 0 0 15em;
	margin: 1em;
	text-align: center;
}

div.puzzle-available {
	border: 0.5em solid #222;
	background: DarkSlateGrey;
}

div.puzzle-done {
	border: 0.5em solid #555;
	background: SlateGrey;
	background-image: url("/static/hunts/img/checkbox.png");
	background-repeat: no-repeat;
	background-position: 95% 95%;
	background-size: 3em 3em;
}

a.puzzle-link {
	color: White;
	margin: auto;
	font-size: x-large;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

hr {
	margin: 1em 3em 1em 3em;
	border-top: 1px solid #bbb;
}

.puzzle-flavour {
	font-size: 90%;
	font-style: italic;
	color: #555;
}

.flavour-intro {
	font-size: 100%;
	font-style: normal;
	font-weight: bold;
	color: #333;
}

*[id$='-error'] {
	color: red;
}
